*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
  }

  .homepage__container{
      display: flex;
    background: linear-gradient(white,rgb(248, 248, 179));
    /* flex-basis: 25%; */
    flex: 2 1 auto;
  }
.info {
    padding: 0 5% 0 0;
    max-width: 75%;
}
  #photo1{
      --height: 90vh;
      /* max-height: 30%; */
      max-height: var(--height);
      /* min-height: 10%; */
      /* min-width: 25%; */
      max-width: 25%;
      margin: 150px 3% 0 3%;
      /* object-fit: cover; */
  }
  @media screen and (max-width: 425px){
      #photo1 {
          margin: 370px 0 0 0;
          max-height: 30vh;
          max-width: 15%;
      }
      .info{
        max-width: 75%;
      }
  }
  @media screen and (max-width: 350px){
    #photo1 {
        margin: 410px 0 0 0;
        max-height: 20vh;
        max-width: 10%;
    }
}

  #logo{
      height: 120px;
      margin: 20px 0;
  }
  li{
      font-size: 14px;
  }
  ul{
    margin: 20px 0 20px 30px;

  }
  #photo2{
      /* max-width: 80%; */
      max-width: 95%;
  }
  figcaption{
      margin: 10px 0 ;
      font-size: 14px;
  }