*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
  }
  .product__container {
      display: block;
      background-color: rgb(248, 248, 179);
  }
  .product__p{
      font-size: 13px;
      margin: 30px 10px 20px 24px;
      font-weight: 700;
  }

  #photo3{
      max-width: 80%;
      padding: 30px  0 30px 10%;
  }
  
  #photo3 + figcaption {
      margin: 20px 20px 0 25%;
  }
  hr.solid {
    border-top: 3px solid red;
    margin: 30px 5%;  
}.segment{
    display: block;
}
.segments > h5{
    margin: 20px auto;
    width: 30%;
}
.product__p {
    width: 90%;
    margin: 20px auto;
}

h5 + p + p{
    margin: 0 25% 50px 25%;
}
@media screen and (max-width: 875px){
.segment > h5{
    font-size: 12px;
    margin: 20px auto;
    min-width: 50%;
}
}
@media screen and (max-width: 650px){
    .segments > h5{
        font-size: 8px;
        margin: 20px auto;
        min-width: 70%;
    }
    .product__p{
        font-size: 8px;
        margin: 20px auto;
        width: 90%;
    }   
    .product__caption{
        font-size: 9px;
        width: 50%;
        margin: 10px auto;
    }
}